&.box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 200px;
	background: red;
	margin: 16px;
	transition: all 200ms ease-in-out;

	&:hover {
		height: 400px;
	}
}
