@use "colors";
@use "font";

* {
	margin: 0;
}

$page-width: 600px;
$page-margin: 96px;

$page-break-width: $page-width + $page-margin * 2;

$bg-blur: "/images/the-witness-1080-blur8.jpg";
$bg-noblur: "/images/the-witness-1080-noblur.jpg";

body {
	background-color: #111;
	color: #fff;
	margin: $page-margin;
	// font-family: "Maki Libertinus Mono", serif;
	font-family: "Maple Mono Maki", monospace;
	font-size: 16px;
	// image has dithering to prevent banding
	// therefore a fixed height is necessary
	background-image: url($bg-blur);
	background-size: auto 1080px;
	background-repeat: no-repeat;
	background-position: -200px 8px; // top strip
	min-width: $page-width;
	max-width: $page-width;

	@media (max-width: $page-break-width) {
		margin: 48px;
	}

	&.noblur {
		background-image: url($bg-noblur);
	}

	// preload images
	&::before {
		position: absolute;
		width: 0;
		height: 0;
		overflow: hidden;
		z-index: -1;
		content: url($bg-blur) url($bg-noblur);
	}
}

a {
	text-decoration: inherit;
	color: #fff;
}

a {
	background: #ff1744;
	// padding: 0px 4px;
	padding: 3px 6px;
	display: inline-block;
	font-weight: 600;
	// margin: 8px 0;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	gap: 6px;

	border-radius: 4px;

	&.plain {
		background: none;
		padding: 0;
	}

	> img {
		height: 16px;
		margin-top: -2px;
		&.bigger {
			height: 20px;
		}
	}

	&.muted {
		background: #fff;
		color: #000;
	}

	// &.border {
	// 	background: transparent;
	// 	color: #fff;
	// 	border-bottom: solid 2px white;
	// }
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4,
h5,
h6 {
	// dont use these
	display: none;
}

hr {
	// width: 300px;
	border: none;
	height: 2px;
	background-color: white;
	border-radius: 999px;

	// &.faded {
	// 	background-color: transparent;
	// 	background-image: linear-gradient(
	// 		90deg,
	// 		white,
	// 		transparent,
	// 		transparent
	// 	);
	// }
}

.icon {
	height: 1em;
	vertical-align: middle;
	margin-top: -0.2em;
	padding: 0 0.4em;
}
